---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
  <p class="mb-4"><i>Age 23 • Hungarian • ESTJ • Fluent in 🇭🇺 (HU) 🇬🇧 (ENG) 🇩🇰 (DA)</i></p>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			My name is Maja and I recently got my bachelor as a web developer. I have a background in media studies, meaning I am familiar with both the creative and the technical side of programming and the digital world in general. I enjoy challenging myself and learning new things for the fun of it. 🤓
		</p>
    <div class="flex flex-row justify-between">
      <div>
		<h2>My hard skills:</h2>
		<ul class="list-inside list-disc" role="list">
			<li>HTML, CSS, JavaScript</li>
			<li>Node.js, Express.js</li>
			<li>Vue.js, Nuxt.js</li>
      <li>Astro</li>
			<li>MongoDB, SQL, SQLite</li>
      <li>WordPress, Elementor</li>
      <li>Blender 3D</li>
			<li>Figma, AdobeXd</li>
			<li>UI/UX design</li>
			<li>Project Management</li>
		</ul>
  </div>
  <div>
    <h2>My soft skills:</h2>
		<ul class="list-inside list-disc" role="list">
			<li>Open, honest communication</li>
			<li>Work well both independently and in teams</li>
			<li>Organized and structured approach</li>
      <li>Problem-solver mindset</li>
			<li>Critical and analytical thinking</li>
      <li>Open to feedback and criticism</li>
		</ul>
    <h2>Others describe me as...</h2>
    <p class="mb-4"><i>Detail-oriented • Curious • Creative • Strong willed</i></p>
  </div>
  </div>

	</div>

</PageLayout>
